body{
    margin: 0;
    background-image: url(Background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#ClockContainer{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

#clock{
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-size: 6.5rem;
    font-style: bold;
    text-align: center;
    color: hsl(0, 82%, 58%);
    backdrop-filter: blur(5px);
    width: 100%;
    background-color: hsla(0, 0%, 100%, 0.1);
}